@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: linear-gradient(to right, #000966, #190d6b, #291170, #361674, #411b79, #4d1c7a, #581d7b, #621f7c, #6e1d79, #791b76, #831a73, #8c1a6f);
}

@tailwind base;
@tailwind components;
@tailwind utilities;